<p><a href="<%= root_path %>">Back to Home</a></p>
<h1>People</h1>
<button><a href="<%= new_person_path %>">Create Person</a></button>
<ul>
	<% @people.each do |person| %>
		<li><a href="<%= person_path(person) %>"><%= person.first_name %> <%= person.last_name %></a></li>
	<% end %>
</ul>